
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <div id="userContainer">
        <h2 class="userTitle">Usuario o password incorrectos</h2>
        <a class='retryLogin' href="/login">Reintentar ingreso</a>
    </div>

</body>

</html>